<h1>HOME</h1>
<p>
	<%= link_to 'Staff', profiles_path %> |
	<%= link_to 'Skills', skills_path %> |
	<%= link_to 'Equipment', all_equipment_path %>|
	<%= link_to 'Events', events_path %>
</p>
<p>Find me in app/views/home/index.html.erb</p>
