/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#content div{
	
}

#content .nav_item{
	padding: 2%;
	position: relative;
	float: left;
	text-align: center;
}

#content .nav_item img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#content .nav_item div{
	margin-top: 20px;
}

#quick_nav > a > img{
	padding-right: 2px;
	padding-left: 20px;
	float: left;
}

#main_nav{
	padding-bottom: 25px;
}

#home_img{
	float: left;
}

#sign_out{
	float: right;
}

td{
	text-align: center;
	padding-right: 20px;
}

th{
	text-align: center;
	padding-right: 20px;
	text-decoration: underline;
}

table{
	border:3px solid;
}

.broken{
	color:red;
}

.notice{
	color:red;
	font-weight: bold;
	font-size: 24;
	font-style:italic;
}